cheat_sheet.txt


# Node modules
node_modules/

# Fichiers binaire 
**/__pycache__/*


# Fichier de stockage des images et des différents types de fichiers complémentaires 
backend/media

# Variables d'environnement de Django
backend/.env

# Fichier de création de la BD
db/create-db.sql
db/Modele_entite_relation
db/Schema.loo

# Suppression du venv backend
backend/venv/