cheat_sheet.txt
backend/createFiles.sh

# Node modules
node_modules/

# Fichiers binaire 
**/__pycache__/*

# MIgrations 
backend/*/migrations/0*.py


# Fichier de stockage des images et des différents types de fichiers complémentaires 
backend/media/*/*

# Variables d'environnement
*.env
*.env.development
*.env.production

#Migrations de la base de données
backend/*/migrations/0*.py

# Fichier de création de la BD
db/create-db.sql
db/Modele_entite_relation
db/Schema.loo

# Suppression du venv backend
backend/venv/
backend/.venv/

# Fichiers d'IDE   
*/.idea